// color
.blue-gray-text{
  color: #1D4D4F;
}
.green-light{
  color: #7FB800;
}

// end color

// background
.transparent{
  background-color: transparent;
}
.bg-green-darken-to-light{
  background: linear-gradient(334.24deg, #7FB800 -9.84%, #0F9B0F 121.28%);
}
// end background