//start font size
@for $i from 8 to 150 {
  .font-size-#{$i}{
    font-size:$i+px !important;
  }
}
// end font size

// set font famyle
.font-famyle-rubik{
  font-family: 'Rubik', sans-serif;
}

.font-famyle-lato{
  font-family: 'Lato', sans-serif;
}

.line-height-45{
  line-height: 45px;
}