//start font size
@for $i from 8 to 90 {
  .font-size-#{$i}{
    font-size:$i+px !important;
  }
}
// end font size

// set font famyle
.font-famyle-rubic{
  font-family: 'Rubik', sans-serif;
}

.font-famyle-lato{
  font-family: 'Lato', sans-serif;
}