@import './variables.scss';
@import './_color.scss';
@import './_typography.scss';
@import './_margin.scss';

.green-border{
  @include border(bottom,8px,solid,#7FB800);
}

// start header background index page
.background-header-home-page{
  background-image: url(../images/bg_element.svg);
  background-position-x: 90%;
}
// end header background index page

// start background icons
.bg-icons{
  background: linear-gradient(334.24deg, #7FB800 -9.84%, #0F9B0F 121.28%);
}
// end background icons